<section class="vh-100" style="background-color: #4B515D;">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card" style="color: #4B515D; border-radius: 35px;">
                    <div class="card-body p-4">

                        <form [formGroup]="weatherSearchForm" (ngSubmit)="getWeatherData(weatherSearchForm.value)">
                            <div class="d-flex">
                                <h6 class="flex-grow-1">{{this.weatherData?.location?.name}}</h6>
                                <h6>{{this.weatherData?.location?.localtime.slice(11,16)}}</h6><!-- saat eklenecek-->
                            </div>

                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <input  class="form-control mx-2" type="text" name="weatherLocation" id="weatherLocation" placeholder="Lütfen Şehir Giriniz"
                                formControlName="location" #reference>
                                <div class="col md-3 mt-2">
                                    <button type="submit" class="btn btn-secondary" (click)="reference.value=' ' ">Ara</button>

                                </div>
                                <h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;"> {{this.weatherData?.current?.temperature}} °C </h6>
                                <span class="small" style="color: #868B94">{{this.weatherData?.current?.weather_descriptions}}</span>
                            </div>
                            

                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1" style="font-size: 1rem;">
                                    <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">
                                            Rüzgar : {{this.weatherData?.current?.wind_speed}} km/s
                                        </span></div>
                                    
                                </div>
                                <div>
                                    <img src={{this.weatherData?.current?.weather_icons}}
                                        width="100px">
                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>

    </div>
</section>